#hero {
    color: aqua;
}
#bold {
    color: #FF7500;
}
a {
    text-decoration: none;
}
#user-link {
    padding: 12px, 24px, 12px, 24px;
    border: 1px solid #FF7500;
    color: #ffffff;
    background: #FF7500;
    text-align: center;
    line-height: 30px;
    height: 39px;
    width: 152px;
    
}
